<div id="game-container">
  <%= javascript_include_tag 'game_editor', 'data-turbolinks-track': 'reload' %>
  <div id="game-container"></div>
  <script type="text/javascript">
    let game = new Phaser.Game(config);
  </script>
</div>