<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <script src="./assets/scenes/preload.js"></script>
            <script src="./assets/scenes/menu.js"></script>
            <script src="./assets/scenes/game.js"></script>
            <script src="./assets/scenes/globals.js"></script>

    <title>Document</title>
  </head>
  <body>
    <h1>helelo</h1>
    <div id="game-container"></div>
    <script type="text/javascript">

      let game = new Phaser.Game(config);
    </script>
    <h1>hello</h1>
  </body>
</html>
