// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), image_url("maze2.png");
    height: 150vh;
    width: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

nav {
    background-color: rgb(0, 0, 0);
    font-family: 'Nosifer', sans-serif;
}

.header, table, .container {
    color: rgb(172, 87, 87);
    background-color: black;
    font-family: 'Nosifer', sans-serif;
    text-align: center;

}

