// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main-red-color: #DD233D;



.body-image {
    background-image: url("moveme.gif");
    height: 100vh;
    width: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }

text {
  color: white;
}

.center {
  position: absolute;
  left: 550px;
  top: 300px;
  font-family: 'Nosifer', sans-serif;
}

h2 {
  color: rgb(59, 13, 13);
}

.button {
  padding: 0;
  border: none;
  color: rgb(65, 18, 18);
  background-color: transparent;
  cursor: pointer;
}

input {
  border: 1px solid transparent;
  color: red;
  background-color: transparent;
  height: 20px;
  width: 200px;
}


